body {
  margin: 0;
  font-family: "Nunito SemiBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  margin-top: 10px;  
  margin-bottom: 10px;
}

code {
  font-family: "Nunito SemiBold";
}
